<% if (typeof currentRoute === 'undefined') { currentRoute = ''; } %>

<header class="header">

  <% if (!currentRoute.startsWith('/post/')) { %>
  <div class="header__button">
    <button class="search">
      <a href="#">
        <img
          id="search_logo"
          src="https://imgs.search.brave.com/_ItLEpV53SEwY95fpi3Z9Lns9JWeRlaH76VJ11lSE-o/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzExLzcxLzIzLzM5/LzM2MF9GXzExNzEy/MzM5MTVfbG05Q1kw/RTMxUGp6aFh1TnBH/QTFXY1gwQVNwc0dy/TEouanBn"
          alt="Search"
        />
      </a>
    </button>
  </div>
  <% } %>


  <nav>
    <ul>
      <li>
        <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
      </li>
      <li>
        <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
      </li>
      <li>
        <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">Contact</a>
      </li>
    </ul>
  </nav>

</header>
