


body{

background-color: white

}

:root{

--black: #1c1c1c;
--gray : #7E7E7E;
--red:


}



#x1{

color:green;

}

#ss{

color:red;

}

#dt{

padding:2px 2px 20px 380px;


}

a{


text-decoration:none;

}
   

header{




}

ul{

list-style-type:none;

}

.postdate{

  display: flex;
  align-items: center;
  gap: 570px; 
  color:black;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:0px 0px 28px 0px;
}

.pagination{

margin-left:46%;
margin-bottom:10%;
font-weight: bold;
color:rgb(15, 15, 16);
font-size: 20px;
}

.pagination:hover{

/* background-color: grey; */
text-decoration: underline;
}

#bodi{


color:rgb(22, 22, 22);
font-style:calc();
font-size: 20px;
}

#tit{

color:rgb(27, 26, 28);
/* background-color: rgb(12, 12, 12); */
width:fit-content
}

#singlepost{

/* border:2px solid red ; */
padding: 5px 50px 50px 50px;
margin: 7px 298px 5px 5px ;
background-color: orange;
width:fit-content;

}

#extra{


height: 30px;

}

.date{

font-size: 10px;

}

.date {
  display: block;
  margin-top: 4px;
  font-size: 0.9rem;
  color: #888;
  font-style: italic;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.date:hover {
  color: #555;
}

#search_bar{

width:370px;
height:35px;
border:2px solid blue;
outline:none;
border-radius: 10px;
background-color: rgb(226, 226, 211);

}

#search_logo{

height:20px;
width:20px;

}

.seach{

position:absolute ;
left:400px;
top:12px;


}


#a1{

background-color: aqua;


}